<%= form_with(model: trainingitem, local: true) do |form| %>
  <% if trainingitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trainingitem.errors.count, "error") %> prohibited this trainingitem from being saved:</h2>

      <ul>
      <% trainingitem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :トレーニング名 %>
    <%= form.text_field :name ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control'}%>
  </div>
  <br>
  <div class="field">
    <%= form.label :トレーニングの説明 %>
    <%= form.text_area :description ,{required: 'true', autofocus: 'true', placeholder: "" , class: 'form-control'}%>
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :status %>
    <%#= form.check_box :status %>
  <!-- </div> -->

  <%#= hidden_field_tag :trainer_id, 2 %>
  <div class="actions">
    <%= form.submit '作成',  class: "btn btn-primary" %>
  </div>
<% end %>
