<p id="notice"><%= notice %></p>

<p>
  <strong>トレーニング名:</strong>
  <%= @trainingitem.name %>
</p>

<p>
  <strong>部位:</strong>
  <%= @trainingitem.part %>
</p>

<p>
  <strong>説明文:</strong>
  <%= @trainingitem.description %>
</p>


<%= link_to 'Edit', edit_trainingitem_path(@trainingitem) %> |
<%= link_to 'Back', trainingitems_path %>
