<p id="notice"><%= notice %></p>


<%#= link_to 'Edit', edit_userbody_path(@userbody) %> 
<%#= link_to 'Back', userbodies_path %>


<h1>体重データ</h1>
<div class="row pb-4 mt-4">
  <div class="col-6 text-center">
    <h3>体重</h3>
    <h2><%= @weight_latest.weightactual %>kg</h2>
    <small>(<%= @weight_latest.date %>時点)</small>
  </div>
  <div class="col-6 text-center">
    <h3>目標まで</h3>
    <h2><%= @weight_latest.weightactual %>kg</h2>
  </div>
</div>
<hr>
<h1>体重推移</h1>
  <%= line_chart @chart_data, 
    height: "600px" ,
    min: "#{@min}",
    max:"#{@max}",
    :library => {
      :vAxis => {:title => "体重(kg)"}, 
      :hAxis => {:title => "日付"}, 
    } %>
<br>

<div class="table-responsive">
  <table class="table table-md">
    <thead>
      <tr>
        <th class="text-center">日付</th>
        <th class="text-center">体重</th>
        <th class="text-center"></th>
      </tr>
    </thead>
    <tbody>
			<% @weights.each do |weight| %>
	      <tr>
					<td class="text-center"><%= weight.date.strftime("%Y/%m/%d") %></td>
					<td class="text-center"><%= weight.weightactual %></td>
	        <td class="text-center">edit</td>
	      </tr>
			<% end %>
    </tbody>
  </table>
</div>

<!-- 追加箇所開始 -->
<div class="text-center">
<%= paginate @weights ,class:"text-center" %>
  
</div>
<!-- 追加箇所終了 -->


<hr>
<h1>トレーニング実績</h1>

<!--     <%#= form_for @weight, :url => {:action => 'create'} do |f| %>
	<div class="row">
		<div class="col-md-6 col-sm-12 ">

      <%#= f.label :日付 %>
			<%#= f.date_field :date ,{required: 'true', placeholder: "" ,value: Date.today, class:'form-control'}%>
		</div>
		<br>
		<div class="col-md-6 col-sm-12 ">
      <%#= f.label :体重（実績） %>
      <%#= f.number_field :weightactual ,{placeholder: "" , class:'form-control'}%>
    </div>
    <br>
    <br>
    <%#= f.submit "登録する", class: "btn btn-primary form-control" %>
	</div>
<%# end %>
 -->



<div class="table-responsive">
  <table class="table table-md">
    <thead>
      <tr>
        <th class="text-center">メニュー</th>
        <th class="text-center">今週</th>
        <th class="text-center">今月</th>
        <th class="text-center">全期間</th>
      </tr>
    </thead>
    <tbody>
      <% @weights.each do |weight| %>
        <tr>
          <td class="text-center">XXX</td>
          <td class="text-center">XXX</td>
          <td class="text-center">XXX</td>
          <td class="text-center">XXX</td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("myChart");
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [<%= Date.today %>, "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 23489, 24092, 12034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 2,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>


